$lambda-red: #BB2134;

html {
  font-size: 62.5%;
}

#wallet-img {
  width: 30vw;
}

.wallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}


.App {
  position: relative;
  display: flex;
  flex-direction: column;
  // align-items: stretch;
  justify-content: center;
  font-size: 1.6rem;
  // height: 70vh;

  label {
    align-self: center;

    span {
      font-size: 2rem;
      font-weight: bolder;
    }

    input {
      margin: 1rem;
      width: 5rem;
      height: 3rem;
    }

  }
}

.dim:not(#modal) {
  // opacity: .2;
  // animation: fadeOut ease 1s;
  transition: filter ease-in-out .5s;
  filter: blur(5px) grayscale(50%);
}

.undim {
  filter: blur(0px) grayscale(0%);
  transition: filter ease-in-out .5s;
}




@keyframes fadeOut {
  100% {
    filter: blur(5px) grayscale(50%);
  }
  0% {
    filter: blur(0px) grayscale(0%);
  }
}

.filtered-block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0 2rem;

  list-style: none;

  flex-basis: 70vw;
  // height: 50vh;
  overflow: scroll;
  margin: 2rem;
  border: 5px double $lambda-red;
  border-radius: 1rem;
  font-size: 1.2rem;
  overflow: scroll;
  background-color: $lambda-red;
  color: white;
  border: 1rem double white;
  word-break: break-all;


  li:first-child {
    font-size: 1.5rem;
    font-weight: bolder;
    align-self: center;
    padding-right: 2rem;
  }

  li:last-child {
    margin-bottom: .5rem;
  }

  li:nth-child(4) {
    margin-bottom: .5rem;
  }
}

.txs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .tx {

    h2 {
      font-size: 1.2rem;
      font-weight: bolder;
      text-decoration: underline;
    }

  }
}

// .fade-out {
//   animation : unblur ease 2s;
// }

// @keyframes unblur {
//   100% {
//     filter: blur(5px) grayscale(50%);
//   }

//   0% {
//     filter: blur(0px) grayscale(0%);
//   }
// }

#modal {
  list-style: none;
  position: fixed;
  width: 40vw;
  // animation: fadeIn ease 1s;
  // transition: fadeIn ease-in-out 2s;
  // height: 50vh;
  // filter: blur(20px) grayscale(30%);
  overflow: scroll;
  left: 32vw;
  top: 32vh;
  z-index: 10;
  word-break: break-all;
  padding: 2rem;
  font-size: 1.2rem;
  border: 2rem double white;
  background-color: white;
  border: 1rem double $lambda-red;
  border-radius: 2rem;

  li:first-child {
    font-size: 1.5rem;
    font-weight: bolder;
  }

  li:nth-child(4) {
    margin-bottom: .5rem;
  }

  .tx {
      h2 {
        font-size: 1.2rem;
        font-weight: bolder;
        text-decoration: underline;
      }
  }

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

ul {
  // height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  
  span {
    color: $lambda-red;
    font-size: 3rem;
    font-weight: bolder;
  }

  // #filtered {
  //   width: 50%;
  //   word-break: break-all;
  // }

}

#lambdashield {
  width: 10rem;
}

header {
  div:first-of-type {
    display: flex;
    align-items: center;
  }
  img {
    width: 100px;
  }
}

#spinner {
  margin: 2rem;
}

#transaction {
  margin: 10rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  

  form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1rem double $lambda-red;
    padding: 2rem;
    
    label,span,input {
      margin: .5rem; 
      text-align: center;
      width: max-content;
    }

    button {
      font-size: 1rem;
      padding: 1rem;
      border-radius: 1rem;
      background-color: $lambda-red;
      color: white;
      margin: 0;
    }

  }

  #post-message {
    margin: 3rem;
    color: $lambda-red;
    font-size: 3rem;
    font-weight: 900;
  }


}

div.mine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 8rem;

    // .tx {
    //   display: flex;
    //   justify-content: space-evenly;
    //   align-self: flex-end;
    //   padding: 2rem;
    //   word-break: keep-all;
    //   border-radius: 1rem;
    // }
      
      // .tx {
      //   margin-top: 20rem;
      // }

    #lambdashield {
      width: 10rem;
      border-radius: 5rem;
    }

    button {
      background-color: $lambda-red;
      color: white;
      margin-top: 1rem;
      padding: 1rem;
      border-radius: 1rem;
    }

    .earn {
      border: 1rem solid $lambda-red;
      margin-top: 3rem;
      padding: 1rem;
      
    }

    .mine-txs {
      border: .1rem dotted $lambda-red;
      margin: 3rem;
      border-radius: 1rem;
      padding: 1rem;
      text-align: left;
    }

    .mine-tx {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      // margin: 1rem 4rem;
      border: .1rem dotted $lambda-red;
      margin: 1rem;

      div {
        margin: 0 .5rem;  
      }

    }

}

nav {
  display: flex;
  justify-content: space-evenly;

  a {
    margin: 1rem;
    text-decoration: none;
    color: white;
    
  }
}


.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-basis: 20rem;
  height: 10rem;
  margin: 2rem;
  border: 5px double $lambda-red;
  border-radius: 1rem;
  font-size: 1rem;
  overflow: scroll;
  background-color: $lambda-red;
  color: white;
  border: 1rem double white;
  cursor: pointer;

  // margin: 1vw;
  // padding: 3vw;

  // li:first-child {
  //   font-size: 2.4rem;
  // }

    li {
      flex-basis: 30;
      list-style-type: none;
      font-weight: bolder;
      line-height: 2;

      &:first-child {
        font-size: 2rem;
      }

      &:nth-child(2){
        font-size: 1rem;
        word-break: break-all;
      }
    }

  .tx {
    border: 5px double $lambda-red;
    border-radius: 1rem;
    // background-color: $lambda-red;
    // color: white;
    // margin: 2rem;
    // padding: 2rem 4rem 1rem 4rem;
    border: .1rem dotted $lambda-red;

    * {
      word-break: break-all;
      margin: 0;
      padding: 0;
      line-height: 1.5rem;  
    }

  }

}



// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

.App-header {
  background-color: $lambda-red;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
