$lambda-red: #BB2134;

html {
  font-size: 62.5%;
}

.App {
  font-size: 1.6rem;
}

#lambdashield {
  width: 10rem;
}

header {
  
  div:first-of-type {
    display: flex;
    align-items: center;
  }

  img {
    width: 100px;
  }
}

.mine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;


  
    // .tx {
    //   display: flex;
    //   justify-content: space-evenly;
    //   align-self: flex-end;
    //   padding: 2rem;
    //   word-break: keep-all;
    //   border-radius: 1rem;
    // }

    #lambdashield {
      width: 7rem;
      border-radius: 5rem;
    }

    div.block {
      text-align: left;
      width: 40%;
      word-break: break-all;
      font-size: 1rem;
    }

}

nav {
  display: flex;
  justify-content: space-evenly;

  a {
    margin: 1rem;
    text-decoration: none;
    color: white;
    
  }
}

// .App {
//   text-align: center;
// }

main {
  display: flex;
  justify-content: center;
}

.block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: fit-content;
  border: 5px double $lambda-red;
  border-radius: 1rem;
  margin: 1vw;
  padding: 3vw;

  // li:first-child {
  //   font-size: 2.4rem;
  // }

  li {
    flex-basis: 30;
    list-style-type: none;
    font-weight: bolder;
    line-height: 2;

    &:first-child {
      font-size: 3rem;
    }
  }
}

.tx {
  border: 5px double $lambda-red;
  border-radius: 5rem;
  // width: 50%;
  margin: 2rem;
  padding: 2rem;
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

.App-header {
  background-color: $lambda-red;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
